/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: #678e3e;
  --clr-primary-light: #beed8c;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* more global css */
.btn {
  background: var(--clr-primary);
  cursor: pointer;
  color: var(--clr-white);
  padding: 0.5rem 0.75rem;
  display: inline-block;
  border: none;
  text-align: center;
  transition: var(--transition);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  font-size: 0.85rem;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background-color: var(--clr-primary-light);
  color: var(--clr-primary);
}
.clearfix::after, .clearfix::before{
  content: " ";
  clear: both;
  display: table;
}
.section-title h3 {
  color: var(--clr-primary);
  font-family: var(--ff-primary);
}
.section-title {
  margin-bottom: 2rem;
}
.section-center {
  padding: 4rem 0;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
@media screen and (min-width:992px) {
  .section-center {
    width: 95vw;
  }
}
/* animation */
@keyframes bounce {
  0%{
    transform:scale(1);
  }
  50%{
    transform:scale(2);
  }
  100%{
    transform:scale(1);
  }
}

@keyframes slideFromRight {
  0%{
    transform:translateX(1000px);
    opacity: 0;
  }
  50%{
    transform:translateX(-200px);
    opacity: 0.5;
  }
  75%{
    transform:translateX(50px);
    opacity: 0.75;
  }
  100%{
    transform:translateX(0px);
    opacity: 1;
  }
}

@keyframes slideFromLeft{
  0%{
    transform:translateX(-1000px);
    opacity: 0;
  }
  50%{
    transform:translateX(200px);
    opacity: 0.5;
  }
  75%{
    transform:translateX(-50px);
    opacity: 0.75;
  }
  100%{
    transform:translateX(0px);
    opacity: 1;
  }
}
/* 
==========
navbar
==========
 */
 .navbar-button {
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;
   font-size: 2rem;
   color: var(--clr-primary);
   z-index: 1;
   animation:bounce 2s ease infinite ;
 }
 
 .navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--clr-grey-10);
  z-index: 2;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
 }
 .nav-header {
    text-align: right;
    padding-right: 1rem;

 }
 .nav-close {
  font-size: 2.5rem;
  cursor: pointer;
  color: #f29c9c;
  transition: var(--transition);
 }
 .nav-close:hover {
  color: #bb2525;
 }
 .navbar {
  transform: translateX(-100%);
  transition: var(--transition);
 }
 .shownav {
  transform: translate(0);
  transition: var(--transition);
 }
 .nav-links {
  list-style-type: none;

 }
 .nav-link {
  text-transform: uppercase;
  padding: 0.25rem 1rem;
  display: block;
  font-size: 1.5rem;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-5);
  transition: var(--transition);

 }
 .nav-link:hover {
  background: var(--clr-primary-light);
  color: var(--clr-primary);
  padding-left: 1.5rem;
  border-left: 0.25rem solid var(--clr-primary);
 }
 @media screen and (min-width:768px) {
  .navbar {
    width: 35vw;
    max-width: 20rem;
  }
 }
/* 
==========
header
==========
 */
header {
  min-height: 100vh;
  background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/main-bcg.jpeg") center/cover no-repeat fixed;
  position: relative;
  overflow-x: hidden;
}
.header-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.header-banner h2 {
  color: var(--clr-primary);
  animation: slideFromRight 5s ease-in-out 1;
}
.header-banner h1 {
  color: white;
  text-transform: uppercase;
  animation: slideFromLeft 5s ease-in-out 1;
}
.btn-banner {
  padding: 0.75rem 1.2rem;
  outline: 2px var(--clr-primary) solid ;
  outline-offset: 0.2rem;
  margin-top: 1rem;
  font-size: 1.25rem;
}
.divider {
height:0.5rem;
background-color: #678e3e;
}
/* 
==========
skills
==========
 */
 .skills {
  background: var(--clr-grey-10);
 }
 .skill {
  text-align: center;
  padding: 2.5rem 0;
  transition: var(--transition);
 }
 .skills-icon{
    font-size: 2.5rem;
    color: var(--clr-primary);
    transition: var(--transition);
    display: inline-block;
    margin-bottom: 1.25remm;
 }
 .skill-text {
  color: var(--clr-grey-5);
  max-width: 17rem;
  margin-left: auto;
  margin-right: auto;
 }
 .skill:hover {
  box-shadow: 0 2px var(--clr-primary);
  background: var(--clr-white);

 }
 .skill:hover .skills-icon {
  transform: translateY(-0.25rem);
 }

@media screen and (min-width:576px){
  .skill {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width:1200px){
  .skill {
    width: 25%;
  }
}
/* 
==========
about
==========
 */
 .about-img-container {
  background-color: var(--clr-primary);
  border: 0.5rem  var(--clr-primary) solid;
  transition: var(--transition);
  overflow: hidden;
  max-width: 30rem;
 }
 .about-picture {
  transition: var(--transition);
 }
 .about-img-container:hover .about-picture {
  opacity: 0.5;
  transform: scale(1.2);
 }
 .about-img,.about-info {
  padding: 2rem 0;
 }
 .about-text {
  max-width: 26rem;
  color: var(--clr-grey-5);
 }

@media screen and (min-width:992px) {
  .about-img, .about-info {
    float: left;
    width: 50%;
  }
  .about-info {
    padding-left: 2rem;
  }
}
/* 
==========
product
==========
 */
 .products {
  background: var(--clr-grey-10);
 }

.product-info {
  margin-bottom: 2rem;
}
.product-text {
  color:var(--clr-grey-5);
  max-width: 26rem;
}
.product-image {
  height: 17rem;
  border-radius: var(--radius);
  margin-bottom: 1rem;
  object-fit: cover;
}
.price {
  color: var(--clr-primary);
}
.product {
  margin-bottom: 2rem;
}
@media screen and (min-width:768px) {
  .product {
    float: left;
    width: 50%;
    padding-right: 2rem;
  }
}
@media screen and (min-width:992px) {
  .product {
    float: left;
    width: 33.3%;
  }

}
@media screen and (min-width:1200px) {
 .product-info, .product-inventory {
  float: left;
 }
 .product-info {
  width: 30%;
 }
 .product-inventory {
  width: 70%;
 }
}
/* 
==========
services
==========
 */
 .services-title {
     margin-top: 4rem;
     margin-bottom: -4rem;
     text-align: center;
 }
 .service-card {
  background-color: var(--clr-grey-10);
  margin: 2rem 0;
  border-radius: var(--radius);
  transition: var(--transition);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 }
 .service-info {
  padding: 3rem 1rem 2.5rem 1rem;
  text-align: center;
 }
 .service-card:hover {
   transform: scale(1.05);
   box-shadow: o 5px 15px rgba(0, 0, 0, 0.2);
 }
 .service-btn {
  border-radius: var(--radius);
  font-size: 0.75rem;
  padding: 0.375rem 0.5rem;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 1.25rem;
 }
 .product-picture {
  height: 17rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius)
  ;
 }
 .services-img-container {
  position: relative;
  margin-bottom: 3rem;
 }
 .service-info p {
  max-width: 20rem;
  margin: 0 auto;
  color: var(--clr-grey-5);
 }
 .service-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-primary-light);
  font-size: 2rem;
  color: var(--clr-primary);
  /* height: 4rem; */
  /* width: 4rem; */
  /* text-align: center; */
  padding: 0.25rem 0.6rem;
  border-radius: 50%;
  border: 7px var(--clr-grey-10) solid;
  display: inline-block;
 }
 
 @media screen and (min-width:768px) {

   .service-card {
    float: left;
    width: 45%;
    margin-right: 5%;
   }
 }
 @media screen and (min-width:992px) {

  .service-card {
   width: 30%;
   margin-right: 3.33%;
  }
}

  /* 
==========
services
==========
 */
 .contact {
  background: var(--clr-grey-10);
 }
 .contact-info, .contact-form {
  margin: 1rem 0;
 }
 .contact-item {
  margin-bottom: 2rem;
 }
 .contact-title {
  color: var(--clr-primary);
  font-weight: 400;
 }
 .contact-text {
    text-transform: uppercase;
    line-height: 1.5;
 }
 .contact-form {
  background: white;
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  max-width: 35rem;
 }
 .contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 }
 .contact-form h3  {
  padding-top: 1.25rem;
  color: var(--clr-grey-5);
 }
 .form-group {
  padding: 1rem 1.5rem;
 }
 .form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  outline: none;
 }
 .form-control::placeholder {
  color: var(--clr-grey-1);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  font-family: var(--ff-primary);
 }
 .submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
 }
 @media screen and (min-width:992px) {
  .contact-info,.contact-form {
    float: left;
    width: 50%;
  }
 }
   /* 
==========
footer
==========
 */
 .footer {
  background:#222;
  text-align: center;
  color: white;
 }
 .social-icons  {
  color: white;
  margin-bottom: 1rem;
  font-size: 1.5rem;
 }
 .social-icons .fab {
    color: white;
    margin-right: 1rem;
  transition: var(--transition);
 }
 .social-icons .fab:hover {
  color: var(--clr-primary);
 }
 .footer-text {
  text-transform: uppercase;
  font-weight: 400;
 }
 .company {
  color: var(--clr-primary);
 }